.answer-list {
    list-style-type: none;
    padding-left: 2.5em;

    /* material-ui draws native inputs and hides them when disabled.
    some themes may have their own conflicting styles, so we enforce
    hidden disabled inputs here to prevent ghost controls showing up. */
    input:disabled {
        opacity: 0;
    }
    
    .answer {
        margin: .1em;
        border: solid .2em;
        border-radius: .8em;
        box-sizing: border-box;
        border-color: rgba(255,255,255,0);
    
        &Correct {
            @extend .answer;
            border-color: rgb(75, 173, 56);
        }
    
        &Incorrect {
            @extend .answer;
            border-color: rgb(170, 50, 50);
        }
    }

    .feedback-icon {
        position: absolute;
        font-size: 2em;
        left: auto;
        top: auto;
        margin-top: .36em;
        margin-left: -1.05em;

        &-correct {
            @extend .feedback-icon;
            color: rgb(75, 173, 56);
        }

        &-incorrect {
            @extend .feedback-icon;
            color: rgb(170, 50, 50);
        }
    }
    
    .feedback {
        margin-left: 3em;
        font-style: italic;
    }
}
