.answer-list {
    list-style-type: none;
    padding-left: 2.5em;

    /* material-ui draws native inputs and hides them when disabled.
    some themes may have their own conflicting styles, so we enforce
    hidden disabled inputs here to prevent ghost controls showing up. */
    input:disabled {
        opacity: 0;
    }

    .answer, %answer {
        border: solid 0.2em;
        border-color: rgba( 255, 255, 255, 0 );
        border-radius: 0.8em;
        box-sizing: border-box;
        margin: 0.1em;

        &-correct {
            @extend %answer;
            border-color: rgb( 75, 173, 56 );
        }
    
        &-incorrect {
            @extend %answer;
            border-color: rgb( 170, 50, 50 );
        }
    }

    .feedback-icon, %feedback-icon {
        font-size: 2em;
        left: auto;
        margin-left: -1.05em;
        margin-top: 0.36em;
        position: absolute;
        top: auto;

        &-correct {
            @extend %feedback-icon;
            color: rgb( 75, 173, 56 );
        }

        &-incorrect {
            @extend %feedback-icon;
            color: rgb( 170, 50, 50 );
        }
    }

    .feedback {
        font-style: italic;
        margin-left: 3em;
    }
}
