.answerList {
    list-style-type: none;

    /* material-ui draws native inputs and hides them when disabled.
    some themes may have their own conflicting styles, so we enforce
    hidden disabled inputs here to prevent ghost controls showing up. */
    input:disabled {
        opacity: 0;
    }
}

.answer {
    margin: .1em;

    &Correct {
        background-color: rgb(170, 241, 156);
    }

    &Incorrect {
        background-color: rgb(252, 179, 174);
    }
}

.feedback {
    margin-left: 3em;
    font-style: italic;
}