.matching-area {
    display: flex;
    padding-left: 2.6em;

    .item-list {
        width: 250px;
        padding: 8px;
        background: #f2f2f2;

        .item, %item {
            padding: 1.1em;
            margin: 0 0 8px 0;
            user-select: none;
            border: solid .2em;
            border-color: rgba(0, 0, 0, 0);         

            /* Leave space for the drag handle in the non-prompt items */
            padding-left: 2em;

            &-prompt {
                @extend %item;
                padding: 1.1em;
                background: #e7e7e7;
            }

            &-correct {
                @extend %item;
                border-color: rgb(75, 173, 56);
            }

            &-incorrect {
                @extend %item;
                border-color: rgb(170, 50, 50);
            }
            
            .drag-handle {
                opacity: .2;
                position: absolute;
                left: auto;
                top: auto;
                margin-top: -0.15em;
                margin-left: -1.1em;
            }

            .feedback-icon, %feedback-icon {
                position: absolute;
                font-size: 2em;
                left: auto;
                top: auto;
                margin-top: -0.2em;
                margin-left: -2.2em;

                &-correct {
                    @extend %feedback-icon;
                    color: rgb(75, 173, 56);
                }
        
                &-incorrect {
                    @extend %feedback-icon;
                    color: rgb(170, 50, 50);
                }
            }
        }
    }    
}