.question {
  background: rgb( 238, 238, 238 );
  margin: 1em 0;
  padding: 1em;

  .header {
    font-style: italic;
  }

  .body {
    margin-bottom: 0.2em;
    margin-top: 0.2em;
  }
  
  .feedback {
    margin: 0.2em;
  }

  .question-icon, %question-icon {
    display: inline-block;
    font-size: 2.5em;
    margin-right: .1em;
    vertical-align: middle;

    &-correct {
      @extend %question-icon;
      color: rgb( 75, 173, 56 );
    }

    &-incorrect {
      @extend %question-icon;
      color: rgb( 170, 50, 50 );
    }
  }
}



