.question {
  background: rgb(238, 238, 238);
  padding: 1rem;
  margin: 1rem 0;
}

.header {
  font-style: italic;
}

.body {
  margin-top: .2em;
  margin-bottom: .2em;
}

.feedback {
  margin: .2em;
}
