.question {
  background: rgb(238, 238, 238);
  padding: 1rem;
  margin: 1rem 0;

  .header {
    font-style: italic;
  }
  
  .body {
    margin-top: .2em;
    margin-bottom: .2em;
  }
  
  .feedback {
    margin: .2em;
  }

  .question-icon, %question-icon {
    font-size: 2.5em;
    display: inline-block;
    vertical-align: middle;
    margin-right: .1em;

    &-correct {
      @extend %question-icon;
      color: rgb(75, 173, 56);
    }
    &-incorrect {
      @extend %question-icon;
      color: rgb(170, 50, 50);
    }
  }
}



